<!-- Usando diretiva de atributos customizada-->
<p alteraBackground>
  Texto com fundo azul.
</p>

<!-- <span alteraBackground>Julio Cezar</span> -->

<!-- <p highlight>
  Texto com highlight quando passo o mouse.
</p> -->
<!-- Usando diretiva de atributos customizada, com o uso de Input Property e HostListener e HostBinding-->
<!-- <p highlight [highlightColor]="'red'">
  Texto com highlight quando passo o mouse.
</p> -->


<button class="btn btn-primary" (click)="show()">
  Mostrar livro
</button>
<br /><br />
<div *ngIf="showBook">
  <p>Foi verdadeiro</p>
</div>
<div *ngElse="showBook">
    <p>Foi falso</p>
</div>

<input type="text" class="form-control" maxlength="10" formatDate >